body {
  background-image: url(image/renai_danna_back.jpg);
  text-align: center;
}
/*-----------------------------------------------------------*/

nav {
  margin: 0px auto;
  width: 50%;
}
/*-----------------------------------------------------------*/

aside {
  margin: 0px auto;
  width: 50%;
}
/*-----------------------------------------------------------*/

li {
  display: inline;
}
/*-----------------------------------------------------------*/

p {
  display: inline;
}
/*-----------------------------------------------------------*/

ul {
  display: inline;
}
/*-----------------------------------------------------------*/

main#main-atc {
  display: table;
  margin: 0px auto;
  width: 50%;
}
main#main-atc > div {
  display: table-cell;
  width: 50%;
}

main#main-atc > div > article {
  display:table;
}

main#main-atc > div > article > * {
    margin: 0px auto;
    width: 50%;
    vertical-align: top;
    display: table-cell;
}
.textleft {
  text-align: left;
}
/*-----------------------------------------------------------*/

.nav-footer{
  display: table;
  margin: 0px auto;
  width: 50%;
  text-align: left;
  padding: 20px;
}

.page-top{
  display: inline;
  float:right;
}
