body {
  background-image: url(image/renai_danna_back.jpg);
  text-align: center;
}
/*-----------------------------------------------------------*/
nav {

}
/*-----------------------------------------------------------*/
aside {
  text-align: left;
  margin:0px auto;
  width:50%;
}
/*-----------------------------------------------------------*/
li {
  display: inline;
}
/*-----------------------------------------------------------*/
p {
  display: inline;
}
/*-----------------------------------------------------------*/
ul {
  display: inline;
}
/*-----------------------------------------------------------*/
.blog {
  float:left;
  margin-right:50px;
  text-align: left;
}
